.wrapper {
  //   width: 75%;
  //   margin: 0 auto;

  .swiper-button-next,
  .swiper-button-prev {
    top: 50%; /* Align vertically in the middle */
  }

  .swiper-button-next {
    right: 10%; /* Adjust as needed */
  }

  .swiper-button-prev {
    left: 10%; /* Adjust as needed */
  }
}
